<div class="full" ng-style="storyworld">
  <div class="container">
    <h2>{{storyworld.title}}</h2>
    <h3>{{storyworld.description}}</h3>
    <div class="messages padded margin-bottom" ng-repeat="message in messages">{{message.text}}</div>
    <form ng-submit="send(command)">
      &gt;&nbsp<input id="user-input" ng-model="command.text" autocomplete="off" ng-style="storyworld"/>
    </form>

    <div class="padded bottom-align margin-bottom"> <a ui-sref="landing" ng-style="storyworld">return to storyworlds home</a></div>
  </div>
</div>